@import "tailwindcss";

@media (min-width:1024px ){
  .img{
      mask-image: linear-gradient(to left, black 80% ,transparent);
  }
  

}
@media (min-width:1024px ){
          
  .hero{
    mask-image: linear-gradient(to left, black 80% ,transparent);
}

  
  
}


.scroll{
  background-color: #1e1e1e;
}
.oscuro{
  background-color: #101010;
}
.copy{
  border-top: 1px solid #909090;
}
.epigrafe{
  background-color: #1a1a1a;

}
.correo{
  color: #B8EC4C;
}


.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {

  width: 400vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  gap: 1rem;
}

.scroll-section-inner article {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  transition: 0.3s ;
}
@media (max-width:760px ){
    .scroll-section-inner article{
      height: 100%;
    }
}

